---
http_interactions:
- request:
    method: get
    uri: https://api.nasa.gov/neo/rest/v1/feed?api_key=6FzKI3WukcpvDFufBzP6azX7jkFpS1VQ8KwabYn3&end_date=2018-12-12&start_date=2018-12-6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '998'
      x-application-context:
      - application:prod:4453
    body:
      encoding: ASCII-8BIT
      string: '{"links":{"next":"https://api.nasa.gov/neo/rest/v1/feed?start_date=2018-12-12&end_date=2018-12-18&detailed=false&api_key=6FzKI3WukcpvDFufBzP6azX7jkFpS1VQ8KwabYn3","prev":"https://api.nasa.gov/neo/rest/v1/feed?start_date=2018-11-30&end_date=2018-12-06&detailed=false&api_key=6FzKI3WukcpvDFufBzP6azX7jkFpS1VQ8KwabYn3","self":"https://api.nasa.gov/neo/rest/v1/feed?start_date=2018-12-06&end_date=2018-12-12&detailed=false&api_key=6FzKI3WukcpvDFufBzP6azX7jkFpS1VQ8KwabYn3"},"element_count":67,"near_earth_objects":{"2018-12-12":[{"links":{"self":"https://api.nasa.gov/neo/rest/v1/neo/3836748?api_key=6FzKI3WukcpvDFufBzP6azX7jkFpS1VQ8KwabYn3"},"id":"3836748","neo_reference_id":"3836748","name":"(2018
        XL1)","nasa_jpl_url":"http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3836748","absolute_magnitude_h":26.879,"estimated_diameter":{"kilometers":{"estimated_diameter_min":0.0111880649,"estimated_diameter_max":0.0250172736},"meters":{"estimated_diameter_min":11.1880648906,"estimated_diameter_max":25.017273632},"miles":{"estimated_diameter_min":0.0069519391,"estimated_diameter_max":0.0155450083},"feet":{"estimated_diameter_min":36.7062508156,"estimated_diameter_max":82.0776720228}},"is_potentially_hazardous_asteroid":false,"close_approach_data":[{"close_approach_date":"2018-12-12","epoch_date_close_approach":1544601600000,"relative_velocity":{"kilometers_per_second":"6.1707176935","kilometers_per_hour":"22214.5836966188","miles_per_hour":"13803.2784086018"},"miss_distance":{"astronomical":"0.0062192538","lunar":"2.4192898273","kilometers":"930387.125","miles":"578115.75"},"orbiting_body":"Earth"}],"is_sentry_object":false},{"links":{"self":"https://api.nasa.gov/neo/rest/v1/neo/3836845?api_key=6FzKI3WukcpvDFufBzP6azX7jkFpS1VQ8KwabYn3"},"id":"3836845","neo_reference_id":"3836845","name":"(2018
        XH2)","nasa_jpl_url":"http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3836845","absolute_magnitude_h":24.408,"estimated_diameter":{"kilometers":{"estimated_diameter_min":0.0349104122,"estimated_diameter_max":0.0780620548},"meters":{"estimated_diameter_min":34.910412191,"estimated_diameter_max":78.0620547817},"miles":{"est[...]
